.brand-title{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.nav-items span{
    margin-left: 50px
}
.nav-contener{
    border-bottom: 1px solid rgb(212, 205, 205);
    background-color: #fff;
    padding:20px ;
    width: 100%;
    position: fixed;
}
.bi-search{
    color: blue;
    font-weight: bold;
}
header{
    background-image: url(../../public/image/water.jpg);
   background-attachment: fixed;
    background-size: 100% 850px;
    background-repeat: no-repeat;
    height: 850px;
    
}
.main-title-contener{
    text-align: center;
    padding-top: 380px;
}
.main-title{
    font-size: 60px;
    font-family: arial;
    color:#fff;
}
.main-sub-title-contener{
    text-align: center;
    margin-top: 15px;
}

.main-sub-title{
    font-size: 18px;
    font-family: arial;
    color: #fff;
}
.main-btn-contener{
    text-align: center;
    margin-top: 35px;
}
.main-read-btn{
    background-color: #745cf9;
    font-size: 13px;
    color: #fff;
    padding: 12px 50px;
    border: none;
}
.main-read-btn:hover{
    background-color:#4c39b9 ;
}
.main-download-btn{
   border: 2px solid #fff !important;
    background-color: rgba(0, 0, 0,0.2);
    color: #fff;
    padding: 12px 40px;
    border: none;
    margin-left: 10px;
}
.main-download-btn:hover{
    background-color: #fff;
    color: black;
}
.ceo-contener{
    height: 620px;
    background-color: #fff;
    /* border: 1px solid red; */
    align-items: center;
}
.macbbook-img{
    width: 100%;
    height: 100%;
}
.section-image-macbook{
    /* border: 1px solid red; */
    height: 430px;
    width: 40%;
}
.section-sub-item-title{
    font-size: 15px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #717171;
}
.section-title-items{
    /* border: 1px solid rgb(85, 255, 0); */
    margin-left: 100px;
    padding-top: 80px;
    height: 400px;
    width: 25%;
}
.section-item-title{
    font-size: 29px;
    display: block;
}
.Portfolio-section{
    /* border: 1px solid red; */
    background-color: #f5f5f5;
    height: 620px;
    padding-top: 110px;
}
.section-title-items2{
    /* border: 1px solid red; */
    width: 35%;
    height: 400px;
    padding: 80px;
}
.section-image-macbook2{
     /* border: 1px solid red; */
     height: 430px;
     width: 40%;
     margin-left: 20px;
}